$color-background-elements: #181a1c;
$color-decoration: orange;
$color-text: wheat;
$color-text2: #f8cc7b;
$color-backgrond-left: rgba(76,74,65,.4);
$color-block-background: rgba(24,26,28,.5);
$img-main-background: url('../images/decorative/bg.jpg');
$shadow-decoration: 0 0 10px rgb(184 24 24), 0 0 20px red, 0 0 30px red, 0 0 40px red;
$color-some-buttons: #9a3535;
$img-cart: url('../images/decorative/cart.png');