@import './base-stuff/_variables.scss';
@import './base-stuff/_extends';

@import './main-page/_header-main';
@import './main-page/_main-main';
@import './main-page/_footer-main.scss';
@import './main-page/_main-sorts';

@import './cart-page/_main-cart.scss';
@import './details-page/details-main';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $color-decoration;
    word-wrap: break-word;
    font-family: Philosopher,sans-serif;
    font-size: calc(.2rem + 1vw);
}
p{
    font-size: .6rem;
    color: $color-text;
}
button{
    background-color: #181a1c;
    border: 1px solid orange;
    border-radius: 0.3rem;
    padding: 1% 2%;
    font-size: 80%;
    cursor: pointer;
}
input{
    cursor: grab;
}
label, span{
    color: $color-text2;
}
h3{
    text-align: center;
    background-color: $color-background-elements;
}
.hide{
    display: none;
}