.main__products, .main__filters, .header {
  border: 1px solid orange;
  border-radius: 0.7rem;
}

footer, .header {
  padding-left: 2%;
  padding-right: 2%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  background-color: #181a1c;
  color: orange;
  border-radius: 0 0 1.5rem 1.5rem;
  border-bottom: 2px solid orange;
  font-size: 120%;
  cursor: pointer;
}

.header__brand {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.logo {
  line-height: 100%;
  font-size: 310%;
  text-shadow: 0 0 10px red, 0 0 5px red, 0 0 10px red, 0 0 15px red;
  padding-bottom: 5%;
}

.brand-name {
  margin-left: 1rem;
  text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red;
  font-size: 160%;
}

.header__total-price {
  display: block;
  color: #f8cc7b;
}

.total-price__price {
  color: orange;
}

.header__cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  height: 80%;
  background-image: url("../images/decorative/cart.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.header__cart__number {
  position: relative;
  width: 40%;
  padding-bottom: 40%;
}

.header__cart__number__content {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #181a1c;
  border: 1px solid orange;
  font-size: 130%;
  border-radius: 50%;
}

html {
  background-image: url("./../images/decorative/bg.jpg");
}

img {
  width: 78px;
  height: 30%;
}

.main-main {
  display: flex;
  justify-content: center;
  min-height: 85vh;
  width: 100%;
  padding: 2%;
}

.main__filters {
  width: 25%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: rgba(24, 26, 28, 0.5);
  padding: 0.5%;
}

.filters__reset-copy {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2%;
}

.filters__category {
  display: block;
  border: 1px solid orange;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 5%;
}

.filters__h3 {
  border-bottom: 1px solid orange;
}

.category__filter-list {
  height: 10rem;
  background: rgba(76, 74, 65, 0.4);
  overflow: hidden;
  overflow-y: auto;
  padding: 2%;
}

.filters__brand {
  display: block;
  border: 1px solid orange;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 5%;
}

.brand__filter-list {
  height: 10rem;
  background: rgba(76, 74, 65, 0.4);
  overflow: hidden;
  overflow-y: auto;
  padding: 2%;
}

.filters__price {
  display: block;
  border: 1px solid orange;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 5%;
}

.data {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  width: 100%;
  color: wheat;
}

.range {
  position: relative;
  height: 2rem;
}

.checkbox-line {
  color: wheat;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.checkbox {
  cursor: -webkit-grab;
  cursor: grab;
}

.main__products {
  width: 74%;
  background: rgba(24, 26, 28, 0.5);
  overflow: hidden;
}

.products__sort-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(24, 26, 28, 0.5);
  padding: 0.5%;
  border-bottom: 1px solid orange;
}

.sort-bar__select {
  outline: 0;
  padding: 0 1em;
  background-color: rgba(24, 26, 28, 0.5);
  cursor: pointer;
  border-radius: 1rem;
  color: orange;
  border: 1px solid orange;
  text-align: center;
}
.sort-bar__select option {
  background-color: #181a1c;
}

.founds {
  color: wheat;
}

.search-bar__input {
  background-color: #181a1c;
  width: 140%;
  border: 1px solid orange;
  color: orange;
  border-radius: 2rem;
  padding: 0.2rem;
  outline: none;
  font-size: 80%;
  text-align: center;
}

.view-mode {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.view-mode .small-mode, .view-mode .big-mode {
  border: 1px solid orange;
  height: 2rem;
  width: 2rem;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.3rem;
  justify-content: center;
  align-items: center;
  padding: 2%;
  cursor: pointer;
  margin-left: 0.5rem;
}

.active-mode {
  box-shadow: 0 0 3px 1px orange;
  border: 1px solid red;
}

.products__items-products {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5%;
}

.product-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 23%;
  padding-top: 20%;
  margin: 1%;
  border: 1px solid orange;
  border-radius: 0.5rem;
  overflow: hidden;
}

.small-item {
  width: 14.6%;
  padding-top: 12%;
}

.item-text {
  width: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
}

.item-title {
  background: #181a1c;
  padding: 1%;
  text-align: center;
  border-bottom: 1px solid orange;
  white-space: nowrap;
}

.info__item-info {
  width: 55%;
  background-color: rgba(77, 47, 20, 0.9490196078);
  border-radius: 0 0 0.4rem;
  border-bottom: 1px solid orange;
  border-right: 1px solid orange;
  padding: 1%;
}
.info__item-info p {
  font-size: 0.6rem;
  color: wheat;
}

.items__wrapper-buttons {
  display: flex;
  justify-content: space-around;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 5vh;
  width: 100%;
  background-color: rgba(24, 26, 28, 0.5);
  color: orange;
  border-top: 2px solid orange;
  border-radius: 1.5rem 1.5rem 0 0;
  font-size: 70%;
}

.course-logo {
  width: 5%;
  height: 1.6rem;
  background-image: url("./../images/rsschool.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.small-point {
  white-space: nowrap;
  width: 12%;
  height: 12%;
  margin: 2%;
  font-size: 50%;
  border-radius: 100%;
  overflow: hidden;
  background: orange;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.big-point {
  white-space: nowrap;
  width: 20%;
  height: 20%;
  margin: 2%;
  font-size: 50%;
  border-radius: 100%;
  overflow: hidden;
  background: orange;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: orange;
  word-wrap: break-word;
  font-family: Philosopher, sans-serif;
  font-size: calc(0.2rem + 1vw);
}

p {
  font-size: 0.6rem;
  color: wheat;
}

button {
  background-color: #181a1c;
  border: 1px solid orange;
  border-radius: 0.3rem;
  padding: 1% 2%;
  font-size: 80%;
  cursor: pointer;
}

input {
  cursor: -webkit-grab;
  cursor: grab;
}

label, span {
  color: #f8cc7b;
}

h3 {
  text-align: center;
  background-color: #181a1c;
}

.hide {
  display: none;
}/*# sourceMappingURL=base.css.map */