.main__products, .main__filters, .header {
  border: 1px solid orange;
  border-radius: 0.7rem;
}

footer, .header {
  padding-left: 2%;
  padding-right: 2%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  background-color: #181a1c;
  color: orange;
  border-radius: 0 0 1.5rem 1.5rem;
  border-bottom: 2px solid orange;
  font-size: 120%;
  cursor: pointer;
}

.header__brand {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.logo {
  line-height: 100%;
  font-size: 310%;
  text-shadow: 0 0 10px red, 0 0 5px red, 0 0 10px red, 0 0 15px red;
  padding-bottom: 5%;
}

.brand-name {
  margin-left: 1rem;
  text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red;
  font-size: 160%;
}

.header__total-price {
  display: block;
  color: #f8cc7b;
}

.total-price__price {
  color: orange;
}

.header__cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  height: 80%;
  background-image: url("../images/decorative/cart.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.header__cart__number {
  position: relative;
  width: 40%;
  padding-bottom: 40%;
}

.header__cart__number__content {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #181a1c;
  border: 1px solid orange;
  font-size: 130%;
  border-radius: 50%;
}

html {
  background-image: url("./../images/decorative/bg.jpg");
}

img {
  width: 78px;
  height: 30%;
}

.main-main {
  display: flex;
  justify-content: center;
  min-height: 85vh;
  width: 100%;
  padding: 2%;
}

.main__filters {
  width: 25%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: rgba(24, 26, 28, 0.5);
  padding: 0.5%;
}

.filters__reset-copy {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2%;
}

.filters__category {
  display: block;
  border: 1px solid orange;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 5%;
}

.filters__h3 {
  border-bottom: 1px solid orange;
}

.category__filter-list {
  height: 10rem;
  background: rgba(76, 74, 65, 0.4);
  overflow: hidden;
  overflow-y: auto;
  padding: 2%;
}

.filters__brand {
  display: block;
  border: 1px solid orange;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 5%;
}

.brand__filter-list {
  height: 10rem;
  background: rgba(76, 74, 65, 0.4);
  overflow: hidden;
  overflow-y: auto;
  padding: 2%;
}

.filters__price {
  display: block;
  border: 1px solid orange;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 5%;
}

.data {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  width: 100%;
  color: wheat;
}

.range {
  position: relative;
  height: 2rem;
}

.checkbox-line {
  color: wheat;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.checkbox {
  cursor: -webkit-grab;
  cursor: grab;
}

.main__products {
  width: 74%;
  background: rgba(24, 26, 28, 0.5);
  overflow: hidden;
}

.products__sort-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(24, 26, 28, 0.5);
  padding: 0.5%;
  border-bottom: 1px solid orange;
}

.sort-bar__select {
  outline: 0;
  padding: 0 1em;
  background-color: rgba(24, 26, 28, 0.5);
  cursor: pointer;
  border-radius: 1rem;
  color: orange;
  border: 1px solid orange;
  text-align: center;
}

.founds {
  color: wheat;
}

.search-bar__input {
  background-color: #181a1c;
  width: 140%;
  border: 1px solid orange;
  color: orange;
  border-radius: 2rem;
  padding: 0.2rem;
  outline: none;
  font-size: 80%;
  text-align: center;
}

.view-mode {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view-mode {
  border: 1px solid orange;
  height: 2rem;
  width: 2rem;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.3rem;
  justify-content: center;
  align-items: center;
  padding: 2%;
  cursor: pointer;
  margin-left: 0.5rem;
}

.active-mode {
  box-shadow: 0 0 3px 1px orange;
  border: 1px solid red;
}

.products__items-products {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5%;
}

.product-item {
  width: 23%;
  padding-top: 20%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 5vh;
  width: 100%;
  background-color: rgba(24, 26, 28, 0.5);
  color: orange;
  border-top: 2px solid orange;
  border-radius: 1.5rem 1.5rem 0 0;
  font-size: 70%;
}

.course-logo {
  width: 5%;
  height: 1.6rem;
  background-image: url("./../images/rsschool.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.cart-page {
  width: 100%;
  display: flex;
  justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.cart-wrapper {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.cart-products {
  width: 69%;
  border: 1px solid orange;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: rgba(30, 27, 27, 0.5019607843);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.cart-products__header {
  display: flex;
  background-color: #181a1c;
  padding: 0.3rem;
  border-bottom: 1px solid orange;
  align-items: center;
  justify-content: space-between;
}

.cart-products__header h2 {
  font-size: 130%;
}

.products-amount__text {
  color: wheat;
}

.page-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-control .products-amount__input {
  width: 4rem;
  text-align: center;
  outline: none;
  border: 1px solid orange;
  border-radius: 0.2rem;
  background-color: #373636;
  font-size: 140%;
}

.page-numbers {
  margin-left: 2rem;
}

.page-numbers__text {
  color: wheat;
}

.page-btn-back,
.page-btn-forward {
  background-color: #373636;
  border-radius: 0.2rem;
  padding: 0.1rem;
  font-size: 140%;
}

.page-number {
  font-size: 140%;
  margin: 0 0.5rem;
  color: orange;
}

.cart-products__items {
  width: 100%;
}

.cart-products__item_wrapper {
  width: 100%;
  display: block;
  padding: 1%;
  border-bottom: 1px solid orange;
}

.cart-product__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
}

.item__i {
  width: 3%;
  text-align: center;
  border: 1px solid orange;
  border-radius: 50%;
  background-color: #181a1c;
}

.item__info {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.item__info .item__info_img {
  width: 20%;
  height: 100%;
  border-radius: 0.5rem;
  border: 0.2px solid orange;
}

.item__info_detail {
  width: 80%;
  padding: 1%;
}

.item__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 5px rgb(88, 68, 68), 0 0 2px rgb(88, 19, 19), 0 0 3px rgb(164, 45, 45), 0 0 5px rgb(150, 33, 33);
  border-bottom: 1px solid wheat;
}

.item__title h3 {
  color: wheat;
  padding-bottom: 1%;
  background-color: transparent;
}

.item__description {
  padding-top: 1%;
  color: wheat;
  text-align: center;
}

.item__description span {
  color: wheat;
  font-size: 80%;
}

.item__other {
  padding-top: 1%;
  display: flex;
  align-items: end;
  justify-content: space-around;
}

.item__other p {
  color: #d2b06f;
  font-size: 80%;
}

.item__number-control {
  width: 15%;
}

.item__stock-control {
  display: flex;
  color: #d2b06f;
  align-items: center;
  justify-content: center;
  margin: 7%;
}

.item__number-control_btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item__number-control_btns .item__number-control_count {
  font-size: 150%;
  color: orange;
}

.item__number-control_btn {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item__price {
  display: flex;
  color: #d2b06f;
  align-items: center;
  justify-content: center;
  margin: 7%;
}

.total-cart {
  width: 29%;
  border: 1px solid orange;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: rgba(30, 27, 27, 0.5019607843);
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
}

.total-cart h2 {
  text-align: center;
  font-size: 130%;
  background-color: #181a1c;
  padding: 0.3rem;
  border-bottom: 1px solid orange;
}

.total-price {
  width: 90%;
  font-size: 170%;
  text-align: center;
  margin: 4%;
}

.total-price span {
  font-size: 90%;
  color: wheat;
}

.total-price .total-price__text {
  color: orange;
}

.promo-code {
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo-code__input {
  background-color: #181a1c;
  width: 70%;
  border: 1px solid orange;
  color: orange;
  border-radius: 2rem;
  padding: 0.4rem;
  text-align: center;
  outline: none;
  font-size: 100%;
  cursor: pointer;
}

.promo-code__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: orange;
  border-radius: 50%;
  cursor: pointer;
}

.promo-ex {
  display: block;
  margin: 3% auto;
  text-align: center;
  color: #e38383;
}

.btn__buy-now {
  font-size: 100%;
  display: block;
  padding: 2% 0;
  background: #9a3535;
  color: wheat;
  border: 2px solid orange;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 50%;
  margin: 3rem auto 1rem;
}

.found-promo {
  color: wheat;
  margin-top: 3%;
  text-align: center;
}

.old-price {
  text-decoration: line-through;
}

.result-price, .found-promo {
  display: none;
}

.applied-codes {
  display: none;
  width: 80%;
  margin: 6% auto;
  border: 1px solid orange;
  border-radius: 0.3rem;
  overflow: hidden;
}

.applied-codes h3 {
  text-align: center;
  background-color: #181a1c;
  border-bottom: 1px solid orange;
}

.applied-promo {
  color: wheat;
  text-align: center;
  border-bottom: 1px solid orange;
  padding: 2%;
  font-size: 90%;
}

.applied-codes__span {
  color: wheat;
  background-color: #181a1c;
  border: 1px solid orange;
  border-radius: 0.3rem;
  padding: 0.5%;
  cursor: pointer;
  font-size: 90%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: orange;
  word-wrap: break-word;
  font-family: Philosopher, sans-serif;
  font-size: calc(0.2rem + 1vw);
}

p {
  font-size: 0.6rem;
  color: wheat;
}

button {
  background-color: #181a1c;
  border: 1px solid orange;
  border-radius: 0.3rem;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 120%;
  cursor: pointer;
}

input {
  cursor: -webkit-grab;
  cursor: grab;
}

label, span {
  color: #f8cc7b;
}

h3 {
  text-align: center;
  background-color: #181a1c;
}/*# sourceMappingURL=base.css.map */