@import './_variables.scss';
@import './extends';

@import './header-main';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $color-decoration;
    word-wrap: break-word;
    font-family: Philosopher,sans-serif;
    font-size: calc(.2rem + 1vw);
}
html{
    font-size: 10px;
}