footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 5vh;
    width: 100%;
    background-color: $color-block-background;
    color: $color-decoration;
    border-top: 2px solid orange;
    border-radius: 1.5rem 1.5rem 0 0;
    font-size: 70%;
    @extend %paddings-default;
}
.course-logo{
    width: 5%;
    height: 1.6rem;
    background-image: url('./../images/rsschool.png');
    background-size: 100%;
    background-repeat: no-repeat;
}