html{
    background-image: url('./../images/decorative/bg.jpg');
}
img{
    width: 78px;
    height: 30%;
}
.main-main{
    display: flex;
    justify-content: center;
    min-height: 85vh;
    width: 100%;
    padding: 2%;
}
.main__filters{
    width: 25%;
    height: fit-content;
    background: $color-block-background;
    @extend %border-defailt;
    padding: .5%;
}
.filters__reset-copy{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2%;
}
.filters__category{
    display: block;
    border: 1px solid orange;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 5%;
}
.filters__h3{
    border-bottom: 1px solid orange;
}
.category__filter-list{
    height: 10rem;
    background: $color-backgrond-left;
    overflow: hidden;
    overflow-y: auto;
    padding: 2%;
}
.filters__brand{
    display: block;
    border: 1px solid orange;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 5%;
}
.brand__filter-list{
    height: 10rem;
    background: $color-backgrond-left;
    overflow: hidden;
    overflow-y: auto;
    padding: 2%;
}
.filters__price{
    display: block;
    border: 1px solid orange;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 5%;
}
.data{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    width: 100%;
    color: $color-text;
}
.range{
    position: relative;
    height: 2rem;
}

.checkbox-line{
    color: $color-text;
    white-space: nowrap;
    display: flex;
    align-items: center;
}
.checkbox{
    cursor: grab;
}

.main__products{
    width: 74%;
    background: $color-block-background;
    @extend %border-defailt;
    overflow: hidden;
}
.products__sort-products{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $color-block-background;
    padding: .5%;
    border-bottom: 1px solid orange;
}
.sort-bar__select{
    outline: 0;
    padding: 0 1em;
    background-color: $color-block-background;
    cursor: pointer;
    border-radius: 1rem;
    color: $color-decoration;
    border: 1px solid orange;
    text-align: center;
    
    option{
        background-color: $color-background-elements;
    }
}
.founds{
    color: $color-text;
}
.search-bar__input{
    background-color: $color-background-elements;
    width: 140%;
    border: 1px solid orange;
    color: $color-decoration;
    border-radius: 2rem;
    padding: 0.2rem;
    outline: none;
    font-size: 80%;
    text-align: center;
}
.view-mode{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .small-mode, .big-mode{
        border: 1px solid orange;
        height: 2rem;
        width: 2rem;
        display: flex;
        flex-wrap: wrap;
        border-radius: 0.3rem;
        justify-content: center;
        align-items: center;
        padding: 2%;
        cursor: pointer;
        margin-left: 0.5rem;
    }
}
.active-mode{
    box-shadow: 0 0 3px 1px orange;
    border: 1px solid red;
}
.products__items-products{
    display: flex;
    flex-wrap: wrap;
    padding: .5%;
}
.product-item{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 23%;
    padding-top: 20%;
    margin: 1%;
    border: 1px solid orange;
    border-radius: 0.5rem;
    overflow: hidden;
}
.small-item{
    width: 14.6%;
    padding-top: 12%;
}
.item-text{
    width: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
}
.item-title{
    background: $color-background-elements;
    padding: 1%;
    text-align: center;
    border-bottom: 1px solid orange;
    white-space: nowrap;
}
.info__item-info{
    width: 55%;
    background-color: #4d2f14f2;
    border-radius: 0 0 0.4rem;
    border-bottom: 1px solid orange;
    border-right: 1px solid orange;
    padding: 1%;
    
    p{
        font-size: .6rem;
        color: $color-text;
    }
}
.items__wrapper-buttons{
    display: flex;
    justify-content: space-around;
}